<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!doctype html>
<html ng-app="readerApp">
    <head>
        <title>Annotations Applications</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--script src="http://cdnjs.cloudflare.com/ajax/libs/fastclick/0.6.7/fastclick.min.js"></script-->
        <script src="https://code.angularjs.org/1.2.19/angular.min.js"></script>
        <script src="http:///ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-route.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-touch.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
        <script src= http://cdnjs.cloudflare.com/ajax/libs/jsonld/0.2.13/jsonld.js></script>
        <script src="https://x2js.googlecode.com/hg/xml2json.js" type="text/javascript"></script>

        <script src="js/controllers.js"></script>
        <script src="js/services.js"></script>
        <script src="js/commenter.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/app.js"></script>
        <script src="js/moment.min.js"></script>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/custom.css">



        <style type="text/css">
            div.media
            {
                position:relative;left:40px;top:1px;
                border:1px solid #fff;
            }

        </style>

    </head>
    <body>



        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid"><h2> Annotation Applikation</h2></div>
        </nav>

        <div ng-controller="MainCtrl">
            <ul>
                <li ng-repeat="task in tasks">{{task}}</li>
            </ul>

            <input type="search" ng-model="search.$" placeholder="Suche in Annotationen" class="form-control"/>
            <!--enter annotation -->
            <p></p>
            <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Annotation</button>
            <div collapse="!isCollapsed">
                <div class="well well-lg">
                    <form ng-submit="submit()">
                        <input  placeholder="Titel" class="form-control" type="text" ng-model="title" name="title" /><p></p>
                        <textarea  class="form-control" placeholder="Annotation" ng-model="text" name="text"></textarea>
                        <input class="btn btn-default" type="submit" id="submit" value="Einfügen" />
                    </form>
                </div>
            </div>



            <accordion close-others="oneAtATime">
                <accordion-group  ng-repeat=" comment in comments| filter:search:strict | orderBy: -post" ng-click='getdata(comment.id, post["oa:#hasBody"])'   id="{{comment.id}}">
                    <accordion-heading> 

                        <div class="row">
                            <div class="col-md-9">[{{$index + 1}}]<img ng-src="{{comment.profileUrl}}"> {{comment.title}} </div>

                            <div class="col-md-3"><p class="text-right"><small>{{comment.date.split('T')[0]}}  {{comment.date.split('T')[1].split('.')[0]}}</small></p></div>
                            <div class="col-md-0"><span class="badge pull-right"> {{child[0]["ldp:#contains"].length}}</span></div>

                        </div>


                    </accordion-heading>

                    <script type="text/ng-template" id="categoryTree">
                        
                        <div class="media">
                        
                        <a class='pull-left' href='#' ><img class='media-object' src='http://placehold.it/40x40' alt='...'>  </a>
                        <div class='media-body' >
                            <h4 class='media-heading'>{{anno[5].value.__text}}{{anno.property[5].value.__text}}
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <small>{{anno.property[3].value.__text}}</small>  
                            <small>{{anno.property[9].value.__text | fromNow}}</small>
                            </h4>
                     {{anno[11].value.__text}}{{anno.property[11].value.__text}}
                         </div>   
                        <div class="media" ng-repeat="anno in anno.node" ng-include="'categoryTree'">           
                        
                        </div>
                        </div>
                    </script>   

                    <div class="panel-body" ng-repeat="anno in comment.annotations" ng-include="'categoryTree'"></div>



                    <button class="btn btn-default"  ng-repeat="tag in tags"  >{{tag}}</button>
                    <br>
                    <span class="label label-default" ng-click="cisCollapsed = !cisCollapsed">Annotation</span>


                    <div collapse="!cisCollapsed">
                        <div class="well well-lg">
                            <form ng-submit="submit(post['@id'])">
                                <input  placeholder="Titel" class="form-control" type="text" ng-model="title" name="title" /><p></p>
                                <textarea  class="form-control" placeholder="Annotation" ng-model="text" name="text"></textarea>
                                <input class="btn btn-default" type="submit" id="submit" value="Einfügen" />
                            </form>
                        </div>
                    </div>

                </accordion-group>
            </accordion>


        </div>




    </body>
</html>
